################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AnyConverter
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
